:host {
    display: block;
}

#reset-password-form .form-subtitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding: 4px 0 12px;
}

.content__header {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding: 32px 0 8px;
    font-weight: 400;
}

.form-control {
    width: 60%;
}

button {
    margin-right: 5px;
}